.episode, .control, .episode-details-image {
  a.play {
    display: inline-block !important;
  }
  a.pause {
    display: none !important;
  }
  &.playing {
    a.play {
      display: none !important;
    }
    a.pause {
      display: inline-block !important;
    }
  }
}

.episode-list {
  @extend .card;
  padding: 0;
  .card-content {
    padding: 0 .5rem;
  }

  ul.collection {
    border: none;
    margin: 0;

    .collection-header h4 {
      margin: 0;
      font-size: 1rem;
      font-weight: 600;
      text-transform: lowercase;
      font-stretch: ultra-expanded;
      text-align: center;
    }

    a.play-button {
      position: absolute;
      overflow: hidden;
      left: 0;
      vertical-align: middle;
      color: $secondary-color;
      i {
        font-size: 2.5rem;
      }
      &:focus, &:active {
        outline: 0;
        background-color: rgba($secondary-color, .26);
        border-radius: 50%;
      }
    }
    p.secondary {
      font-size: .9rem;
      color: rgba(0,0,0,.54);
    }
    li.collection-item.avatar {
      padding: 1rem 3rem;
      min-height: inherit;
      a.secondary-content {
        color: rgba(#000, .5);
        right: 0;
        &:focus, &:active {
          outline: 0;
          background-color: rgba(#000, .12);
          border-radius: 50%;
        }
      }
      .episode-options {
        position: absolute;
        top: 16px;
        right: 1rem;
      }
      .title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: rgba(#000, .87);
        display: block;
      }
    }
  }
  &.dimmed {
    li.collection-item.avatar {
      opacity: .28;
      &:hover, &:active {
        opacity: 1;
        background-color: rgba(#000, .1);
      }
    }
  }
}
