.episode-details {
  @extend .card;
  .card-image {
    position: relative;
    .play-button {
      @extend .fab-button;
    }
  }
  .card-content {
    h2 {
      margin: .5rem 0;
      font-size: 2rem;
    }

    .secondary {
      color: rgba(0,0,0,.54);
      .new {
        color: $secondary-color;
        &.hidden {
          display: none;
        }
      }
    }
    .description {
      margin-top: 2rem;
      h1, h2, h3, h4, h5, h6 {
        font-size: 1.3rem;
        font-weight: 600;
      }
      p {
        margin-bottom: .5rem;
      }
      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
}
