$thumb-outer-size: 3rem;
$thumb-inner-size: 1rem;

.maxi-player {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  header {
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem;
    .title {
      h2 {
        margin: .5rem 0;
        font-size: 2rem;
      }
      .secondary {
        color: rgba(0,0,0,.54);
      }
    }
    .collapse-button {
      a {
        color: $secondary-color;
      }
      i {
        font-size: 3.5rem;
      }
    }
  }
  .description {
    padding: 0 1rem;
    p {
      max-height: 8rem;
      overflow: hidden;
      margin-top: 0;
    }
    // _media-queries
    .actions {
      text-align: center;
      .btn-flat {
        color: $secondary-color;
      }
    }

  }
  // _media-queries

  .controls {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
      @extend .icon-button;
      color: $secondary-color;
      margin: 1rem;
      transition: background-color .3s;
      i { font-size: 3rem; }
    }
    .play-pause a i {
      font-size: 5rem;
    }
  }
}
