#app-container {
  // When menu is open by default
  @media (min-width: $open-menu-breakpoint) {
    aside {
      left: 0;
    }
    main {
      margin-left: $side-menu-width;
    }
    nav {
      left: $side-menu-width;
      a#toggle-menu {
        visibility: hidden;
      }
    }
    #player {
      left: $side-menu-width;
    }
    .login-container {
      margin-left: $side-menu-width;
    }
  }

  // When on tablet
  @media #{$medium-and-up} {
    .flex-row .flex-col.md8 {
      width: (100% / 12 * 8);
    }
    .flex-row .flex-col.md10 {
      width: (100% / 12 * 10);
    }
    .podcasts-page {
      margin-top: $navbar-height;
    }
    .about-page {
      margin-top: $navbar-height;
    }
    .podcast-grid {
      .podcast {
        width: 25%;
      }
    }
    aside header {
      height: $navbar-height;
    }
  }

  // When on desktop
  @media #{$large-and-up} {
    .flex-row .flex-col.lg5 {
      width: (100% / 12 * 6);
    }
    .flex-row .flex-col.lg8 {
      width: (100% / 12 * 8);
    }
    .podcast-grid {
      .podcast {
        width: 20%;
      }
    }
  }

  // When short
  @media (max-height: 35rem) {
    .maxi-player .description p {
      display: none;
    }
  }

  // When super-short
  @media (max-height: 20rem) {
    .maxi-player header {
      .title {
        h2 {
          font-size: 1.3rem;
        }
        .secondary {
          display: none;
        }
      }
      .collapse-button {
        i {
          font-size: 1.5rem;
        }
      }
    }
  }
}
