.mini-progress {
  height: $mini-progress-height;
  width: 100%;
  background-color: rgba($secondary-color, .1);
  .bar {
    width: 30%;
    height: 100%;
    background-color: $secondary-color;
  }
}
.avatar, .episode-details-image {
  .mini-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
  }
}
.avatar.played .mini-progress {
  //display: none;
}
.mini-player {
  display: flex;
  flex-direction: column;
  height: $navbar-height-mobile + $mini-progress-height;

  .mini-wrapper {
    display: flex;
    justify-content: space-between;
    height: $navbar-height-mobile;
    width: 100%;
    & > div {
      height: 100%;
    }

    .control {
      width: 15%;
      display: flex;
      align-items: center;
      justify-content: center;
      a.play-button {
        display: inline-block;
        color: $secondary-color;
        i {
          font-size: 2.5rem;
        }
        &:focus, &:active {
          outline: 0;
          background-color: rgba($secondary-color, .26);
          border-radius: 50%;
        }
      }

    }
    .title {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 16px;
      padding: .5rem 0;
      cursor: pointer;
      p.secondary {
        font-size: .9rem;
        color: rgba(0, 0, 0, 0.54);
        margin: 0;
      }
    }
    .expand-button {
      a {
        color: $secondary-color;
      }
      i {
        font-size: 3.5rem;
      }
    }
    img {
      height: 100%;
    }
  }
}
