// Layout
nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: inherit;
  z-index: 777;
  // _media-queries

  .nav-wrapper {
    display: flex;
    justify-content: space-between;
    &.search-open {
      .left-side {
        display: none;
      }
      .right-side {
        width: 100%;
      }
    }
  }
  .left-side, .right-side {
    display: flex;
    width: 60%;
  }
  .right-side {
    justify-content: flex-end;
  }
  .nav-item a {
    display: block;
    padding: 0 15px;
  }
  .nav-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

// Pretty styles
nav {
  background-color: color($primary, "darken-4");

  .nav-item a {
    transition: background-color .3s;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;

    &:hover {
      background-color: rgba(#fff, 0.1);
    }
  }
  .nav-title {
    font-size: 1.25rem;
  }
}
