{{#each podcasts as |podcast|}}
  <div class="podcast" id="podcast-{{podcast.id}}">
    {{#link-to 'podcast' podcast.id (query-params search='null') title=podcast.title}}
      <img src="{{podcast.image}}">
    {{/link-to}}
  </div>
{{/each}}
