<div class="card-content">
  <ul class="collection with-header">
    {{#if title}}
      <li class="collection-header"><h4>{{title}}</h4></li>
    {{/if}}
    {{#each episodes as |ep|}}
      {{episode-list-item episode=ep}}
    {{/each}}
  </ul>
</div>
