{{podcast-grid
podcasts=model
searchQuery=navigation.searchQuery
showSearchSpinner=showSearchSpinner
}}

<div class="load-more-container">
  {{#if hasClickedLoadMore}}
    {{#infinity-loader infinityModel=model}}
      {{infinity-loader-spinner}}
    {{/infinity-loader}}
  {{else}}
    {{#if showLoadMoreButton}}
      <a id="load-more"
        class="waves-effect waves-light btn"
        {{action 'loadMoreClick' on='click'}}>
        Load more
      </a>
    {{/if}}
  {{/if}}
</div>
