<div class="podcasts-page">
  {{#if showSearchSpinner}}
    {{loading-spinner}}
  {{else}}
    {{podcast-grid
    podcasts=model
    searchQuery=navigation.searchQuery
    }}
  {{/if}}

  {{#if (not showSearchSpinner)}}
    {{load-more
    model=model
    infinityLoad='infinityLoad'
    }}
  {{/if}}
</div>
