<div id="app-container" class={{if menuOpen 'menu-open' ''}}>
  <div id="body-shadow"></div>
  {{!> side-menu}}
  {{nav-bar
    title=menuTitle
    backArrowButton=showBackArrow
    onBackButtonClick=(action 'back')
    onOpenMenuClick=(action 'openMenu')
  }}
  <main>{{outlet}}</main>
  {{!> player}}
</div>
