<div class="time">
  <span>23:40</span>
  <span>-31:54</span>
</div>
<div class="progress-container">
  <div class="thumb" style="left: {{thumbPosition}}">
    <div class="time-tooltip">23:14</div>
  </div>
  <div class="progress-wrapper" onclick={{action 'jumpTo'}}>
    <div class="progress">
      <div class="determinate" style="width: {{player.progress}}%"></div>
    </div>
  </div>
</div>
