<div class="nav-wrapper">
  <div class="left-side">
    <div class="nav-item">
      {{#if backArrowButton}}
      <a href="#!" id="back-button">
        <i class="material-icons">arrow_back</i>
      </a>
      {{else}}
      <a href="#!" id="toggle-menu">
        <i class="material-icons">menu</i>
      </a>
      {{/if}}
    </div>
    <div class="nav-item nav-title">{{title}}</div>
  </div>

  <div class="right-side">
    {{#if navBarSearch}}
    <div class="nav-item">
      <a href="#!" id="open-search">
        <i class="material-icons">search</i>
      </a>
    </div>
    <div class="nav-search">
      <input id="search" type="search" required>
      <i id="close-search" class="material-icons">close</i>
    </div>
    {{/if}}
    {{#if options}}
    <div class="nav-item">
      <a href="#!" id="toggle-options">
        <i class="material-icons">more_vert</i>
      </a>
    </div>
    {{/if}}
  </div>
</div>
