<div class="flex-row about-page">
  <div class="flex-col sm12 md10 lg8">
    <div class="card">
      <div class="card-content">
        <span class="card-title">About</span>
        <p class="card-text">
        Hello and welcome! This podcast app is
        supposed to fix some annoying issues most of the podcast-listening
        apps have today (mainly lack of full-text search over
        podcasts and episodes).
        </p>
        <p class="card-text">
        At the moment you can search through episodes of around 70 podcasts
        and listen to them. User login is not yet implemented, so
        you can't subscribe to podcasts. The playback progress of
        each episode is not syncing with the server and just stored in
        your browser's localstorage instead. The app also remembers
        the last episode you were listening to and automatically loads
        it into the player after a page refresh.
        </p>
        <p class="card-text">
        The frontend is developed using
        <a href="https://www.emberjs.com/" target="_blank">
          Ember.js
        </a>
        with
        <a href="http://materializecss.com/" target="_blank">
          Materialize
        </a>
        as an HTML/CSS framework.
        Backend is developed with node/express.
        </p>
        <p class="card-text">
        Backend serves only as an API for retrieving podcasts/episodes,
        none of your data is sent or stored there.
        Playback progress of the episodes, as well as the last played
        episode are stored in localstorage in your browser.
        The frontend is hosted on Firebase, backend is hosted on
        Google Cloud App Engine.
        All of the source code is on Github:
        <a href="https://github.com/jetpackpony/ponypod-web" target="_blank">
          frontend
        </a>
        and
        <a href="https://github.com/jetpackpony/ponypod" target="_blank">
          backend
        </a>
        .
        </p>
        <p class="card-text">
        Feel free to look around and try everything.
        If you find any issues or just want to say hi, feel
        free to contact me at:
        <a href="mailto:jetpackpony@gmail.com" target="_blank">
          jetpackpony@gmail.com
        </a>.
        </p>
      </div>
    </div>
  </div>
</div>
