<div class="flex-row about-page">
  <div class="flex-col sm12 md10 lg8">
    <div class="card">
      <div class="card-content">
        <span class="card-title">About</span>
        <p class="card-text">
        A cool story about our project. A cool story about
        our project. A cool story about our project. A cool
        story about our project. A cool story about our project.
        A cool story about our project. A cool story about
        our project. A cool story about our project.
        </p>
        <p class="card-text">
        A cool story about our project. A cool story about
        our project. A cool story about our project. A cool
        story about our project. A cool story about our project.
        A cool story about our project. A cool story about
        our project. A cool story about our project.
        </p>
        <p class="card-text">
        A cool story about our project. A cool story about
        our project. A cool story about our project. A cool
        story about our project. A cool story about our project.
        A cool story about our project. A cool story about
        our project. A cool story about our project.
        </p>
      </div>
    </div>
  </div>
</div>
