<div class="flex-row">
  <div class="flex-col sm12 md8 lg5">
    {{podcast-details podcast=model}}
  </div>
  {{!--
  <div class="flex-col sm12 md8 lg5">
    {{> episode-list
    title="New Episodes"
    dimmed=false
    episodes=podcast.new-episodes
    episodeOptions=newEpisodeOptions
    }}
  </div>
  <div class="flex-col sm12 md8 lg5">
    {{> episode-list
    title="Played Episodes"
    dimmed=true
    episodes=podcast.played-episodes
    episodeOptions=playedEpisodeOptions
    }}
  </div>
  --}}
</div>
