<div class="flex-row">
  <div class="flex-col sm12 md8 lg5">
    {{podcast-details podcast=model.podcast}}
  </div>
  <div class="flex-col sm12 md8 lg5">
    {{episode-list episodes=model.episodes}}
  </div>
</div>
