<div class="mini-progress">
  <div class="bar" style={{progressCss}}></div>
</div>

{{play-controls
withReplay=true
replay=(action 'replay')
play=(action 'play')
pause=(action 'pause')
isPlaying=isPlaying
isPlayed=isPlayed
}}

{{#link-to 'episode' episode classNames='title'}}
  <span>{{episode.title}}</span>
  <p class="secondary">{{format-date episode.publishedAt}}</p>
{{/link-to}}
{{!--
<a href="#!" class="secondary-content">
  <i class="material-icons">more_vert</i>
</a>
{{> options-menu class="episode-options" options=../episodeOptions}}
--}}
