<h3 class='podcast-title'>{{model.title}}</h3>
<ul>
{{#each model.episodes as |episode|}}
  {{#link-to "episode" episode}}
    <li class='episode-title'>{{episode.title}}</li> ({{episode.published-at}})
  {{/link-to}}
{{/each}}
</ul>

